@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap");
body {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1b26), to(#3b536b));
  background: linear-gradient(180deg, #1e1b26 0%, #3b536b 100%);
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
}

body h2 {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 20px;
  color: #dbdbdb;
}

body .view-more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b73a8;
  cursor: pointer;
}

.fav-h3 {
  font-size: 20px;
  color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card-info .visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 300ms;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 300ms, opacity 300ms;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 300ms;
  transition: visibility 0s linear 0s, opacity 300ms;
}

/* HEADER AND SEARCH */
header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #1e1b26;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}

header input {
  background: #fff;
  border-radius: 50px;
  border: 2px solid #16a085;
  color: white;
  display: block;
  font-family: inherit;
  margin: 5px 5px 5px;
  margin-left: auto;
  outline: none;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 400px;
  cursor: pointer;
}

header input:hover {
  outline: none;
  background: #16a085;
}

/* Styling for the sidebar, left to the header */
#sidebarMenu {
  z-index: 2;
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1b26), to(#2c3e50));
  background: linear-gradient(180deg, #1e1b26 0%, #2c3e50 100%);
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type=checkbox] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -9px;
}

.sidebarIconToggle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

/* Styling for the unique induvidual cards */
.card {
  background-color: #1e1b26;
  letter-spacing: 1px;
  width: 24vh;
  margin: 1rem;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.card img {
  height: 35vh;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.card .card-info {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-info p {
  margin: 0;
}

.card .card-info span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f68d01;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 2.25em;
}

.card .card-info span.green {
  background-color: #084d08;
}

.card .card-info span.yellow {
  background-color: #b67c10;
}

.card .card-info span.red {
  background-color: #810909;
}

.card .card-info span.grey {
  background-color: #424141;
}

.fav-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Track 
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
       
      /* Handle 
    &::-webkit-scrollbar-thumb {
        background: $box-color; 
        border-radius: 10px;
    }
      
      /* Handle on hover 
    &::-webkit-scrollbar-thumb:hover {
        background: $box-color; 
    }*/
}

.popup-container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  max-width: 400px;
  max-height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.popup h1 {
  text-align: center;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

:root {
  --swiper-theme-color: #fff;
}

.netflix-slider .swiper-wrapper {
  padding: 20px 0;
}

.netflix-slider .swiper-slide {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.netflix-slider .swiper-slide:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.netflix-slider .swiper-slide:first-child:hover {
  margin: 0 40px;
}

.netflix-slider .swiper-slide:last-child:hover {
  margin: 0 -40px;
}

/* Static styling for the promoted movie */
.promoted-movie {
  position: relative;
}

.promoted-movie img {
  height: 520px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.promoted-movie .promotion-logo-and-text {
  position: absolute;
  left: 40px;
  top: 24px;
}

.promoted-movie .title-logo {
  width: auto;
  height: 20vh;
}

.promoted-movie .promotion-synopsis {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.promoted-movie .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promoted-movie button {
  background-color: rgba(30, 30, 30, 0.7);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
  padding: 15px 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.promoted-movie button:hover {
  background-color: white;
  color: black;
}

.promoted-movie button.play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */