<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FilmDen</title>
    <link rel="stylesheet" href="styles\filmDen\style.css">
  </head>
  <body>
    <h1>nigga</h1>
    <form id="signUpForm" class="box" method="POST" action="/signup">
      <h1>Sign Up</h1>
      <input type="text" name="username" required="required" placeholder="Username"/>
      <input type="text" name="email" required="required" placeholder="Email"/>
      <input type="password" name="password" required="required" placeholder="Password"/>
      <label class="container">Show Password
        <input type="checkbox" name="checkbox" value="true">
        <span class="checkmark"></span>
      </label>
      <input type="password" name="passwordConfirm" required="required" placeholder="Confirm Password"/>
      <input type="submit" name="signup" value="Sign Up"/>
      <div>Already have an account?</div>
      <a href="login">Login!</a>
    </form>
  </body>
</html>
